<html ng-app="clientApp">
<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/angular.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/client.js"></script>
	<link rel="stylesheet" href="/static/style.css" />	
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body id="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<h4>Dominet</h4>
		</div>
	</div>
	<div class="row" ng-controller="clientController">
		<div id="leftContainer" class="col-md-4">
			<div id="leftColumn" ng-controller="supplyController">
				<div class="row">
					<div class="col-md-6">
						<table class="table">
							<tr ng-repeat="card in getSupplyArray(kingdom) | orderBy:'price':true">
								<td><b>${{!card.price}}</b>  <button ng-disabled="disabled(card)" type="button" ng-class="getButtonStyle(card)" ng-click="clickCard(card)">{{!card.title}}</button> :: {{!card.count}}</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6">
						<table class="table">
							<tr ng-repeat="card in getSupplyArray(baseSupply) | orderBy:'price':true">
								<td><b>${{!card.price}}</b>  <button ng-disabled="disabled(card)" type="button" ng-class="getButtonStyle(card)" ng-click="clickCard(card)">{{!card.title}}</button> :: {{!card.count}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div id="rightColumn" class="col-md-8">
			<div id="msg">blank</div>
			<div id="playerOptions" ng-show="turn">
				<span class="resources"><b>actions:</b>{{!actions}}</span>
				<span class="resources"><b>buys:</b>{{!buys}}</span>
				<span class="resources"><b>balance:</b>{{!balance}}</span>
				<button id="spendMoney" ng-click="c.spendAllMoney()" ng-show="modeJson.mode === 'action'|| modeJson.mode === 'buy'">+${{!spendableMoney}}</button>
				<button ng-click="c.endTurn()" ng-show="modeJson.mode === 'action' || modeJson.mode === 'buy'">End Turn</button>
			</div>
			<div id="wait" ng-show="modeJson.mode === 'wait'"><h5>Waiting for other player</h5></div>
			<div id="select" ng-show="modeJson.mode ==='select'" ng-controller="selectController">
				<div ng-if="modeJson.count > 1 || modeJson.count === null">
					<h5>Select Cards</h5>
					<label class="checkbox-inline" ng-repeat="card in hand">
						<input type="checkbox" ng-init="checked=false" ng-click="checked=!checked; check(card,checked)">{{!card.title}}
					</label>
					<button ng-disabled="!canBeDone" ng-click="doneSelection()">Done</button>
				</div>
				<div ng-if="modeJson.count === 1">
					<h5>Select Card</h5>
					<a href ng-click="selectOne(card)" ng-repeat="card in hand">  {{!card.title}}  </a>
				</div>
			</div>
			<div id="hand">
					<button ng-controller="handController" ng-repeat="card in hand" ng-disabled="disabled(card)" ng-click="clickCard(card)">{{!card.title}}</button>
			</div>
			<hr>
			<div id="scrollChat">
				<div id="gameChat">
				</div>
			</div>
			<hr>
			<div class="col-md-8">
  				<label class="sr-only" for="inputChat">inputChat</label>
				<input type="text" id="inputChat" class="form-control">
			</div>
			<div class="col-md-4">
				<button id="sendChat" class="btn btn-default">Send</button>
			</div>
		</div>
	</div>
</body>
</html>