<html ng-app="clientApp">
<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/angular.min.js"></script>
	<script type="text/javascript" src="/static/client.js"></script>
	<link rel="stylesheet" href="/static/style.css" />	
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<body id="container">
	<div class="row">
		<div class="col-md-9 col-md-offset-3">
			<h4>Dominet</h4>
		</div>
	</div>

	<div class="row" ng-controller="clientController">
		<div id="leftContainer" class="col-md-3">
			<div id="leftColumn">
				<div ng-repeat="(title, card) in kingdom">
					<button ng-click="c.buyCard(card)"><b>{{!card.price}}</b>  {{!card.title}} :: {{!card.count}}</button>
				</div>
			</div>
		</div>
		<div id="rightColumn" class="col-md-9">
			<div id="msg">blank</div>
			<div id="playerOptions" ng-show="turn">
				<span class="resources"><b>actions:</b>{{!actions}}</span>
				<span class="resources"><b>buys:</b>{{!buys}}</span>
				<span class="resources"><b>balance:</b>{{!balance}}</span>
				<button id="spendMoney" ng-click="c.spendAllMoney()">+${{!spendableMoney}}</button>
				<button ng-click="c.endTurn()">End Turn</button>
			</div>
			<div id="hand">
					<button ng-controller="handController" ng-repeat="card in hand" ng-disabled="disabled(card)" ng-click="clickCard(card)">{{!card.title}}</button>
			</div>
			<hr>
			<div id="scrollChat">
				<div id="gameChat">
				</div>
			</div>
			<hr>
			<div class="col-md-8">
  				<label class="sr-only" for="inputChat">inputChat</label>
				<input type="text" id="inputChat" class="form-control">
			</div>
			<div class="col-md-4">
				<button id="sendChat" class="btn btn-default">Send</button>
			</div>
		</div>
	</dxiv>
</body>
</html>