<!DOCTYPE html>
<html ng-app="clientApp">
<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/angular.min.js"></script>
	<script type="text/javascript" src="/static/js/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	<script type="text/javascript" src="/static/js/clientModule.js"></script>
	<script type="text/javascript" src="/static/js/services/clientSocket.js"></script>
	<script type="text/javascript" src="/static/js/services/cardStyle.js"></script>
	<script type="text/javascript" src="/static/js/services/gameTable.js"></script>
	<script type="text/javascript" src="/static/js/services/client.js"></script>
	<script type="text/javascript" src="/static/js/controllers/clientController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/handController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/supplyController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/selectController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/reorderController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/infoController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/chatController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/advGameModalController.js"></script>
	<script type="text/javascript" src="/static/js/controllers/lobbyController.js"></script>
	<script type="text/javascript" src="/static/js/directives/gameTableRow.js"></script>
	<script type="text/javascript" src="/static/js/directives/supplyCard.js"></script>
	<script type="text/javascript" src="/static/js/directives/handCard.js"></script>

	<link rel="stylesheet" href="/static/style.css" />	
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

</head>
<div id="container" class="full-height" ng-init="main.game = false">
		<div class="full-height" ng-if="!main.game">
			<ng-include src="'/static/partials/lobby.html'"></ng-include>
		</div>
		<div class="full-height" ng-if="main.game">
			<ng-include src="'/static/partials/game.html'"></ng-include>
		</div>
	</div>
</div>
</html>