@mixin button-variant-split($color, $background1, $background2) {
  color: $color;
  background: linear-gradient(to left top, $background1 50%, $background2 50%);
  border: transparent;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background: linear-gradient(to left top, darken($background1, 10%) 50%, darken($background2, 10%) 50%);
    border-color: transparent;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {

  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background: linear-gradient(to left top, $background1 50%, $background2 50%);
      border-color: transparent;
    }
  }

  .badge {
    color: $background1;
    background-color: $color;
  }
}

// Curse appear as purple
.btn-curse {
  @include button-variant($btn-curse-color, $btn-curse-bg, $btn-curse-border);
}

//action - victory hybrid
.btn-default-success {
    @include button-variant-split(#fff, $gray, $btn-success-bg);
}

//treasure - victory hybrid
.btn-danger-success {
    @include button-variant-split(#fff, $btn-warning-bg, $btn-success-bg);
}

// treasure - reaction hybrid
.btn-warning-info {
    @include button-variant-split(#fff, $btn-warning-bg, $btn-info-bg)
}

// victory - reaction hybrid
.btn-success-info {
    @include button-variant-split(#fff, $btn-success-bg, $btn-info-bg)
}