.title-bar {
	height:8%;
}

#client-container {
	height:92%;
}

#middleColumn {
	height:100%;
}

#game-panel {
	display:inline-block;
	padding-bottom:1em;
	height:69%;
	width:100%;
}

#hand {
	padding-top:.2em;
}

#msg {
	height: 90%;
	overflow: auto;
}

.chat-container {
	padding-top:2%;
	height:30%;
}

.resources {
	font-size:1.6em;
}

.supplyCardContainer {
	white-space: nowrap;
}

#modeContainer {
	min-height:3em;
}

.supplyColumn {
	min-width: 205px;
}

