$title_height: 30px;

#lobby-container {
	padding-top: 15px;
	@include calc-height(100%, $header_height);

	.lobby-clients {
		padding-top: 20px;
		overflow: auto;
		@include calc-height(100%, $title_height);
	}
	
	#games-list {
		padding-top: 20px;
		overflow: auto;
		@include calc-height(100%, $header_height + $footer_height);
	}
	.alert {
		margin-bottom: 10px;
	}

}
