html, body {
	height: 100%;
}

/* selector to select bootstrap td */
.table tbody>tr>td.vert-mid{
    vertical-align: middle;
}

.full-height {
	height: 100%;
}

#userBar {
	height: 50px;
	.userbar-wrapper {
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		#theme {
				background-color: transparent;
				border: none;
				float: right;
			}
	}
	
}

.main-container {
	height:96%;
}


#container {
	padding-left:2%;
	padding-right:2%;
	height:100%;
}

.scrollChat {
	height:100px;
	overflow: auto;
	word-wrap:break-word;
}

.modal-backdrop {
	bottom: 0;
}

//workaround for angularui modal bug, remove after upgrading to 1.0.4
body > [uib-modal-window]:not([modal-render]) {
    display: none;
}