<div class="modal-header">
    <h3>Advanced Options</h3>
</div>

<div class="modal-body">
	<form>
		<div class="form-group">
			<label for="newGameTitle">Game Title</label>
			<input type="text" class="form-control" id="newGameTitle" placeholder="Title" maxlength="40" ng-model="newGameTable.title">
		    <label for="newSeats">Num Players</label>
			<select class="form-control" id="newSeats" ng-model="newGameTable.seats">
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
			<label for="requiredCards">Required Cards</label>
			<input type="text" class="form-control" id="requiredCards" placeholder="List comma separated cards to include in supply" ng-model="inputRequired">
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button class="btn btn-default" ng-click="createGame()">Create Game</button>
</div>