$terminal_default: #c7c7c7;
$terminal_background: black;
$victory-color: lighten(saturate($victory-color, 40%), 10%);
$treasure-color: lighten(saturate($treasure-color, 40%), 10%);
$action-color: lighten($action-color, 50%);
$attack-color: lighten(saturate($attack-color, 40%), 10%);
$curse-color: lighten(saturate($curse-color, 40%), 10%);
$reaction-color: lighten(saturate($reaction-color, 40%), 10%);
$duration-color: lighten(saturate($duration-color, 40%), 10%);
