@mixin terminal_label($color) {
  background: transparent;
  font-style: bold;
  font-size: 13px;
  color: $color;
}

.label-attack {
  @include terminal_label($attack_color);
}

.label-victory {
  @include terminal_label($victory-color);
}

.label-reaction {
  @include terminal_label($reaction-color);
}

.label-treasure {
  @include terminal_label($treasure-color);
}

.label-curse {
  @include terminal_label($curse-color);
}

.label-action {
  @include terminal_label($action-color);
}