<div class="row title-bar">
	<div class="col-md-8 col-md-offset-4">
		<h4>Dominet</h4>
	</div>
</div>
<div id="client-container" class="row" ng-controller="clientController">
	<div  class="col-md-4" id="leftColumn" ng-controller="supplyController">
		<div class="row">
			<div class="col-xs-6">
				<div ng-repeat="card in kingdomSupplyArray | orderBy:'price':true">
					<div class="supplyCardContainer"><supply-card></supply-card></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div ng-repeat="card in baseSupplyArray | orderBy:'price':true">
					<div class="supplyCardContainer"><supply-card></supply-card></div>
				</div>
                <div ng-show="modeJson.optional">
                    <div class="supplyCardContainer">
                       <b>$-</b> <button ng-click="selectNone()" class="btn btn-default">None</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div id="middleColumn" class="col-md-5 col-sm-8">
		<div id="game-panel">
			<div id="msg" ng-bind-html="renderHtml(gameLogs)"></div>
			<div class="modeContainer">
				<div id="gameover" ng-show="modeJson.mode === 'gameover'">
					<a href="#" ng-click="returnLobby()">Return to Lobby</a>
				</div>
				<div id="wait" ng-show="modeJson.mode === 'wait'"><h5>{{modeJson.msg}}</h5>
				</div>
				<div id="select" ng-show="modeJson.mode ==='select'" ng-controller="selectController">
					<h5>{{modeJson.msg}}</h5>
					<div ng-if="modeJson.min_cards > 1 || modeJson.min_cards === null">
						<label class="checkbox-inline" ng-repeat="option in modeJson.select_from track by $index">
							<input type="checkbox" ng-init="checked=false" ng-click="checked=!checked; check(option,checked, $index)">{{option}}
							<span ng-show="modeJson.ordered" ng-if="checked === true"><b>{{checkboxOrder(option, $index);}}</b></span>
						</label>
						<button ng-disabled="!canBeDone" ng-click="doneSelection()" class="btn btn-default">Done</button>
					</div>
					<div ng-if="modeJson.min_cards === 1">
						<a href ng-click="selectOne(option)" ng-repeat="option in modeJson.select_from track by $index">  {{option}}  </a>
					</div>
				</div>
			</div>
			<div id="playerOptions" ng-show="turn">
				<span class="resources"><b>actions:</b>{{actions}}</span>
				<span class="resources"><b>buys:</b>{{buys}}</span>
				<span class="resources"><b>balance:</b>{{balance}}</span>
				<button id="spendMoney" ng-click="c.spendAllMoney()" ng-show="modeJson.mode === 'action'|| modeJson.mode === 'buy'" class="btn btn-default">+${{spendableMoney}}</button>
				<button ng-click="c.endTurn()" ng-show="modeJson.mode === 'action' || modeJson.mode === 'buy'" class="btn btn-default">End Turn</button>
			</div>
			<div id="hand" ng-controller="handController">
				<span ng-repeat="card in hand">
					<hand-card></hand-card>
				</span>
			</div>
			<div class="chat-container" ng-controller="chatController">
				<div class="scrollChat">
					<div ng-repeat="msg in messages">
						<span ng-show="msg.speaker !== ''"><b>{{msg.speaker}}</b>:</span><span>{{msg.msg}}</span>
					</div>
				</div>
				<div class="col-xs-10">
	  				<label class="sr-only" for="inputChat">inputChat</label>
					<input type="text" id="inputChat" class="form-control" ng-model="inputText" ng-keypress="enterKey($event)">
				</div>
				<div class="col-xs-2">
					<button id="sendChat" class="btn btn-default" ng-click="enterChat()">Send</button>
				</div>
			</div>
		</div>
	</div>
		<div id="rightColumn" class="col-md-3 col-sm-4" ng-controller="infoController">
			<ul class="list-group">
				<li class="list-group-item">Deck
				<span class="badge">{{deckSize}}</span>
				</li>
				<li class="list-group-item">Discard
					<span class="badge">{{discardSize}}</span>
				</li>
				<li class="list-group-item" ng-bind-html="matDisplay('Trash',gameTrash)">
				</li>
				<li class="list-group-item" ng-repeat="(name, data) in gameMat" ng-bind-html="matDisplay(name, data)">
				</li>
				<li class="list-group-item" ng-bind-html="renderHtml(modeJson.decklists)" ng-show="modeJson.mode === 'gameover'">
				</li>
			</ul>
            <button id="reportBug" class="btn btn-default" ng-click="openReportBugModal()">Report Bug</button>
		</div>
</div>
