<div ng-controller="lobbyController" class="full-height">
	<div id="userBar">
		<h4>Welcome {{name}}</h4>
	</div>
	<div id="lobby-container" class="row">
		<div id="lobbyPanel" class="col-md-2">
			<h3>Lobby</h3>
			<div ng-repeat="client in lobbyList">
				{{client}}
			</div>
		</div>
		<div class="col-md-10 full-height">
			<h3>Dominet</h3>
			<div id="games-list">
				<table class="table">
					<tr ng-repeat="g in gameTables">
						<td><b>{{g.title}}</b></td>
						<td><b>Host:</b> {{g.host}}</td>
						<td><b>{{g.seats}} Players:</b> {{playersToString(g)}}</td>
						<td>{{g.sets}}</td>
						<td ng-if="!isAtTable(g)"><button class="btn btn-default" ng-click="joinTable(g)" ng-disabled="atTable && !isAtTable(g) || g.players.length === g.seats">Join</button></td>
						<td ng-if="isAtTable(g)"><button class="btn btn-default" ng-click="leaveTable(g)" ng-disabled="atTable && !isAtTable(g)">Leave</button></td>
						<td ng-if="name === g.host"><button class="btn btn-default" ng-disabled="g.players.length < g.seats" ng-click="startGame(g)">Start Game</button></td>
					</tr>
				</table>
			</div>
			<hr>
			<form class="form-inline" ng-show="!atTable">
				<div class="form-group">
					<label for="newGameTitle">Game Title</label>
					<input type="text" class="form-control" id="newGameTitle" placeholder="Title" maxlength="40" ng-model="newGameTable.title">
				    <label for="newSeats">Num Players</label>
					<select class="form-control" id="newSeats" ng-model="newGameTable.seats">
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
				</div>
				<button class="btn btn-default" ng-click="createGameTable()">Create Game</button>
			</form>
			<div ng-controller="chatController">
				<div class="scrollChat">
					<div ng-repeat="msg in messages">
						<span ng-show="msg.speaker !== ''"><b>{{msg.speaker}}</b>:</span><span>{{msg.msg}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<label class="sr-only" for="inputChat">inputChat</label>
						<input type="text" id="inputChat" class="form-control" ng-model="inputText">
					</div>
					<div class="col-md-2">
						<button id="sendChat" class="btn btn-default" ng-click="enterChat()">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
