<div ng-controller="lobbyController">
	<div>
		<h4>Welcome {{name}}</h4>
		<span ng-show="challenging !== null">
			<i>Waiting for <b>{{challenging}}</b></i>
			<a href="#" ng-click="cancel()">Cancel</a>
		</span>
		<span ng-repeat="challenger in challengers">You have been challenged by: <b>{{challenger}}</b>
		<a href="#" ng-click="accept(challenger)" style="margin-left:1em">Accept</a>
		<a href="#" ng-click="decline(challenger)" style="margin-left:1em">Decline (politely)</a>
		</span>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Lobby</h3>
			<div ng-repeat="client in lobbyList">
				{{client}} <button class="btn btn-primary btn-xs" ng-show="client !== name" ng-disabled="challenging" ng-click="challenge(client)">Challenge</button>
			</div>
		</div>
		<div class="col-md-8">
			<h3>Dominet</h3>
			<div ng-controller="chatController">
				<div class="scrollChat" style="height:35em;">
					<div id="gameChat">
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">
		  				<label class="sr-only" for="inputChat">inputChat</label>
						<input type="text" id="inputChat" class="form-control" ng-model="inputText">
					</div>
					<div class="col-md-2">
						<button id="sendChat" class="btn btn-default">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
