
#container {
	margin: 2% auto 2% auto;
	width:95%;
}

.popover {
	width:100%;
}

#leftColumn {
	position:fixed;
	width:33%;
}

#rightColumn {
	margin-left:34%;
}

#scrollChat {
	overflow: auto;
	height:100px;
}

#msg {
	min-height: 250px;
}

.resources {
	font-size:1.6em;
}