
#container {
	margin: 2% auto 2% auto;
	width:95%;
}

#leftColumn {
	position:fixed;
}

#scrollChat {
	overflow: auto;
	height:100px;
}

#msg {
	min-height: 250px;
}


.resources {
	font-size:1.6em;
}