
#container {
	margin: 2% auto 2% auto;
	width:95%;
}

.popover {
	width:100%;
}

.popover-content {
	text-align: center;
	white-space: pre-wrap;
}

#leftColumn {
	position:fixed;
	width:33%;
}

#rightColumn {
	margin-left:34%;
}

.scrollChat {
	overflow: auto;
}

#msg {
	min-height: 250px;
}

.resources {
	font-size:1.6em;
}
/* Card type span color styles */
.money {
	background-color:#f0ad4e;
}

.action {

}

.victory {
	background-color:#4cae4c;
}

.action-attack {
	background-color:#d9534f;
}